body {
    background-color: #f5f5f5;
}

b{
    font-weight:900;
    color: #e071d3;
}

div.container {
    width:60%;
    overflow: hidden;
    margin: auto;
    font-family: 'Sora', Verdana, serif;
    font-size:85%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 20;
    padding-bottom: 20px;
    text-align: justify;
    display: flex;
    border-radius: 25px;
    box-shadow: 10px 10px #fad8f5;
    background-color: rgba(252, 252, 252);
}

div.text{
    text-align: left;
    display:inline-block;
}

div.left {
    float:left;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    padding-left: 10px;
    padding-right: 10px;
    border-right:0 dotted #f587e8;
}

h1 {
    font-size: 400%;
    font-family: 'Courgette', Verdana, serif;
    margin: 5px;
    padding-top: 10px;
    color: #e071d3;
    text-align: center;
}

h2 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #e071d3;
}

h3 {
    font-size: 200%;
    font-family: 'Courgette', Verdana, serif;
    margin: 20px;
    padding-top: 10px;
    color: #e071d3;
}

.button{
    border: 1px solid #bcd4ec;
    font-family: 'Sora', Verdana, serif;
    background-color: #d8e9f5;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
	cursor: pointer;	
	overflow: hidden;
}

.button:hover{
    background-color: #bcd4ec;
    font-weight:900;
    color: #ffffff;
 }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

img.cert{
    all: revert;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;	
	cursor: pointer;
}

a:hover {
    color: #f587e8;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-Regular.woff2') format('woff2'),
        url('../fonts/Sora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette-Regular.woff2') format('woff2'),
        url('../fonts/Courgette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
