body {
    background-color: #fffcfc;
    background-image: linear-gradient(100deg, #fffcfc, #fad8f5);
}

p {
    font-size: 75%;
}

b{
    font-weight:900;
    font-size: 100%;
    color: #7d5178;
}

div.container {
    width:80%;
    overflow: hidden;
    margin: auto;
    font-family: 'Sora', Verdana, serif;
    color: #000000;
    margin-top: 25px;
    padding-bottom: 20px;
    border:0px solid #f587e8;
    text-align: left;
    display: flex;
    height:100%;
}

div.text{
    text-align: left;
    display:inline-block;
}

div.left {
    float:left;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.50);
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    border-right:0 dotted #f587e8;
    font-size: 150%;
}

div.right {
    float: right;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.50);
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    text-align: right;
    color: #000000;
    font-size: 150%;
    padding-top: 25px;
    padding-right: 10px;
    font-family: 'Sora', Verdana, serif;
}

h1 {
    font-size: 400%;
    font-family: 'Courgette', Verdana, serif;
    margin: 20px;
    padding-top: 10px;
    color: #f587e8;
}

h2 {
    font-size: 80%;
    margin: 0;
    padding: 0;
    color: #f587e8;
}

h3 {
    font-size: 200%;
    font-family: 'Courgette', Verdana, serif;
    margin: 20px;
    padding-top: 10px;
    color: #f587e8;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
