<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <meta charset="UTF-8">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>Drew Bassett</title>
</head>
<body>
<div class="container">
    <div class="left">
        <center><a href="/"><button class="button">Home</button></a>
        <a href="{% url 'newcastle' %}"><button class="button">BSc</button></a>
        <a href="{% url 'york' %}"><button class="button">MSc</button></a>
        <a href="{% url 'swansea' %}"><button class="button">PhD</button></a>
        <a href="{% url 'cpd' %}"><button class="button">CPD</button></a>
        <a href="{% url 'roxyandluna' %}"><button class="button">Roxy & Luna</button></a>
        </center>
       {% block content %}{% endblock %}

</div>
<br/>
</body>
