<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <meta charset="UTF-8">
    <link rel="manifest" href="/site.webmanifest">
    <title>Miss Baxter</title>
</head>
<body>
<div class="container">
    <div class="left">
       {% block content %}{% endblock %}
    </div>
    <div class="right">
        <a href="/"><button class="button">Home</button></a> <br/>
        <a href="{% url 'newcastle' %}"><button class="button">Maths at Newcastle</button></a><br />
        <a href="{% url 'york' %}"><button class="button">CompSci at York</button></a><br />
        <a href="{% url 'tryhackme' %}"><button class="button">TryHackMe</button></a><br />
        <a href="{% url 'cpd' %}"><button class="button">CPD</button></a><br />
        <a href="{% url 'coe' %}"><button class="button">Centre of Excellence</button></a><br />
        <a href="{% url 'roxyandluna' %}"><button class="button">Roxy & Luna</button></a><br />
        <a href="https://www.linkedin.com/in/drew-b-3a0a8118a/" target="_blank"><button class="button">LinkedIn</button></a><br />
        <a href="https://github.com/missdrewbaxter" target="_blank"><button class="button">GitHub</button></a><br />
        <a href="https://gist.github.com/missdrewbaxter" target="_blank"><button class="button">Gist</button></a><br />
    </div>
</div>
<br/>
</body>