<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
  	<link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <title>Drew Bassett</title>
</head>

<body>
    <header class="header">
        <div class="header-left">
            <h4 class="site-title">Drew Bassett MSc</h4>
        </div>
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="{% url 'papersandtalks' %}">Papers & Talks</a>
            <a href="{% url 'cpd' %}">CPD</a>
            <a href="{% url 'roxyandluna' %}">Roxy & Luna</a>
        </nav>
    </header>

    <main class="container">
        <div class="left">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>
