{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<h1>CPD Certificates</h1>
<p>Below are some of the Continuing Personal Development certificates I have achieved.</p>
<h2>Coursera</h2>
<p>
    <a href="https://www.coursera.org/account/accomplishments/certificate/S9UUS3ZBDM82" target="_blank">Behavioural Finance</a><br/>
    <a href="https://www.coursera.org/account/accomplishments/verify/PY82WAVWH9YM" target="_blank">Introduction to Machine Learning</a><br/>
    <a href="https://www.coursera.org/account/accomplishments/verify/QSXBD3Z7TSP9" target="_blank">Introduction to Psychology</a><br/>
    <a href="https://coursera.org/share/2e80ee3623e5838bf71b3c34e6e0643b" target="blank">Social Psychology</a>
</p>
<h2>Centre of Excellence</h2>
<img class="cert" src="{% static 'images/Egyptology.png' %}" alt="Egyptology">
<img class="cert" src="{% static 'images/Criminology.png' %}"  alt="Criminology">
<img class="cert" src="{% static 'images/Proofreading.png' %}"  alt="Proofreading and Editing">

<h2>Staff Skills Training</h2>
<img class="cert" src="{% static 'images/helpdesk_support_analyst.png' %}" alt="Helpdesk Support Analyst">
<img class="cert" src="{% static 'images/cables.png' %}" alt="Cable and Wire Management Awareness">
<img class="cert" src="{% static 'images/data_protection.png' %}" alt="Data Protection">

<h2>Udemy</h2>

<img class="cert" src="{% static 'images/complete_machine_learning_and_data_science_bootcamp.jpg' %}" alt="Complete Machine Learning and Data Science Bootcamp">
<img class="cert" src="{% static 'images/tensorflow_developer_bootcamp.jpg' %}" alt="Tensorflow Developer Bootcamp">
{% endblock %}