{% extends "base_generic.html" %}

{% block content %}
{% load static %}
    <section class="hero">
        <div class="hero-content">
            <img src="{% static 'images/drewbaxter.jpg' %}" alt="Drew at Undergrad Graduation" class="hero-image">
            <div class="hero-text">
                <h1 class="hero-title">Drew Bassett MSc</h1>
                <p>Hi, I'm Drew and I am an IT Service Desk Manager living in North East England and a PhD candidate at Swansea University.</p>
                <div class="hero-buttons">
                    <a href="https://www.linkedin.com/in/drew-b-3a0a8118a/" target="_blank" class="button">LinkedIn</a>
                    <a href="https://orcid.org/0009-0000-7323-3508" target="_blank" class="button">ORCID</a>
                </div>
            </div>
        </div>
    </section>

    <h2>👩‍🎓 Education</h2>
    <div class="cards">
        <div class="card">
            <h3>PhD Computer Science</h3>
            <p>Swansea University (Current)</p>
        </div>
        <div class="card">
            <h3>MSc Computer Science with Cyber Security</h3>
            <p>University of York</p>
        </div>
        <div class="card">
            <h3>BSc Mathematics</h3>
            <p>Newcastle University</p>
        </div>
    </div>

    <h2>🏆 Active Certifications</h2>
    <div class="certifications">
        <a href="https://www.credly.com/badges/99749170-3cdd-4b4c-93bd-7af85fd521d6/public_url" target="_blank">
            <img class="cert" src="{% static 'images/comptia-a-ce-certification.png' %}" alt="A+">
        </a>
        <a href="https://www.credly.com/badges/434150f6-a0ec-405b-8edf-38a9fe15dae4/public_url" target="_blank">
            <img class="cert" src="{% static 'images/comptia-security-ce-certification.png' %}" alt="Security+">
        </a>
        <a href="https://www.credly.com/badges/48b552ac-2833-4210-8eb3-f0e318729fe4/public_url" target="_blank">
            <img class="cert" src="{% static 'images/google-it-support-certificate.png' %}" alt="Google IT Support">
        </a>
        <a href="https://www.credly.com/badges/7bca18f4-63d5-4f69-a5f1-c7ccffaa5552" target="_blank">
            <img class="cert" src="{% static 'images/itil-4-foundation-cpd.png' %}" alt="ITIL 4 Foundation" width="90%" height="90%">
        </a>
        <img class="cert" src="{% static 'images/mimecast_warrior.png' %}" alt="Mimecast Warrior" width="90%" height="90%">
    </div>
{% endblock %}
