{% extends "base_generic.html" %}

{% block content %}
<div style="text-align: center">
    <h1>Drew Bassett MSc</h1>
	{% load static %}
	<img src="{% static 'images/drewbaxter.jpg' %}" alt="Drew at Undergrad Graduation"><br />
        <a href="https://www.linkedin.com/in/drew-b-3a0a8118a/" target="_blank"><button class="button">LinkedIn</button></a>
        <a href="https://github.com/drew-bassett" target="_blank"><button class="button">GitHub</button></a>
        <a href="https://orcid.org/0009-0000-7323-3508" target="_blank"><button class="button">ORCID</button></a><br/>
    <p>Hello and welcome to my website! I'm Drew and I am an IT Service Desk Manager living in North East England and a current PhD candidate at Swansea University. A list of my current publications and industry talks can be found <a href="{% url 'papersandtalks' %}">here</a>.
    </p>
    <h2>👩‍🎓 Education</h2>
    (Current) PhD Computer Science - Swansea University<br/>
    MSc Computer Science with Cyber Security - University of York<br/>
    BSc Mathematics - Newcastle University
    <h2>🏆 Active Certifications</h2><br/>
    <a href="https://www.credly.com/badges/99749170-3cdd-4b4c-93bd-7af85fd521d6/public_url" target="_blank"><img class="cert" src="{% static 'images/comptia-a-ce-certification.png' %}" alt="A+"></a>
    <a href="https://www.credly.com/badges/434150f6-a0ec-405b-8edf-38a9fe15dae4/public_url" target="_blank"><img class="cert"  src="{% static 'images/comptia-security-ce-certification.png' %}"alt="Security+"></a>
    <a href="https://www.credly.com/badges/48b552ac-2833-4210-8eb3-f0e318729fe4/public_url" target="_blank"><img class="cert"  src="{% static 'images/google-it-support-certificate.png' %}"alt="Google IT Support"></a>
    <a href=https://www.credly.com/badges/7bca18f4-63d5-4f69-a5f1-c7ccffaa5552" target="_blank"><img class="cert"  src="{% static 'images/itil-4-foundation-cpd.png' %}"alt="ITIL 4 Foundation"></a>
    <img class="cert"  src="{% static 'images/mimecast_warrior.png' %}"alt="Mimecast Warrior">
    </div>
{% endblock %}
