{% extends "base_generic.html" %}

{% block content %}
{% load static %}
    <section class="hero">
        <div class="hero-content">
            <img src="{% static 'images/Drew.png' %}" alt="Drew" class="hero-image">
            <div class="hero-text">
                <h1 class="hero-title">Hi, I'm Drew.</h1>
                    I am an IT Service Desk Manager and a PhD candidate.<br/>
                    My research interests are in human-computer interaction and usable security.</p>
                <div class="hero-buttons">
                    <a href="https://www.linkedin.com/in/drew-b-3a0a8118a/" target="_blank" class="button">💼 LinkedIn</a>
                    <a href="https://orcid.org/0009-0000-7323-3508" target="_blank" class="button">📜 ORCID</a>
                </div>
            </div>
        </div>
    </section>

    <p>
    <h2>📝 Publications</h2>
    D. Bassett, N. Micallef, and B. Müller, "Authentication in the Connected World: Perceived Password Security Is Inflated," Proc. Annu. Conf. Adv. Cyber Secur. Educ., Springer, 2024, pp. 170–191. doi: <a href="https://link.springer.com/chapter/10.1007/978-3-031-77524-6_10" target="_blank">10.1007/978-3-031-77524-6_10.</a>
   </p>

    <h2>👩‍🎓 Education</h2>
    <div class="cards">
        <div class="card">
            <h3>PhD Computer Science</h3>
            <p>Swansea University (Current)</p>
        </div>
        <div class="card">
            <h3>MSc Computer Science with Cyber Security</h3>
            <p>University of York</p>
        </div>
        <div class="card">
            <h3>BSc Mathematics</h3>
            <p>Newcastle University</p>
        </div>
    </div>

    <h2>🏆 Active Certifications</h2>
<div class="certifications">
    ▪️ <a href="https://www.credly.com/badges/434150f6-a0ec-405b-8edf-38a9fe15dae4/public_url" target="_blank">
       Security+
    </a>
    ▪️ <a href="https://www.credly.com/badges/7bca18f4-63d5-4f69-a5f1-c7ccffaa5552" target="_blank">
       ITIL 4 Foundation
    </a>
    ▪️ Mimecast Certified Gladiator
    ▪️ <a href="https://www.credly.com/badges/acb36fa2-28b6-4db8-8bf0-04e4a37d7abf" target="_blank">
        Blue Team Level 1
    </a>
   ▪️ <a href="https://badges.peoplecert.org/Badge/en/0E307742-7697-4A03-B0D3-E42E1A5422BD">PRINCE2® Agile Foundation</a>
</div>
{% endblock %}
