{% extends "base_generic.html" %}

{% block content %}
{% load static %}
 <h1>Papers &amp; Talks</h1>
<p>
2024 - The 4th Annual Advances in Cyber Security Education<br/>
Presented <a href="https://link.springer.com/chapter/10.1007/978-3-031-77524-6_10" target="_blank">Authentication in the Connected World: Perceived Password Security is Inflated</a>.<br/>
<img src="{% static 'images/drew_cse.jpg' %}" alt="Drew at 4th Annual Advances in CSE" height="414" width="559"><br/>
</p>
2015 - Newcastle University and Expeditions Student Presentations<br/>
<img src="{% static 'images/research.jpg' %}" alt="Drew at the 2015 Research Event" height="30%" width="30%">

<h2>Industry Events</h2>
<p>
    2024 - NinjaOne London Roadshow - Speaker<br />
    2024 - How to Encourage IT Education and Certifications Like a Ninja - Panelist <br/>
    2023 - NinjaOne Presents ITX: Age of Automation - Use case presented<br /><br /><br /><br /><br /><br />
</p>
{% endblock %}
