{% extends "base_generic.html" %}

{% block content %}
{% load static %}
 <h1>Papers &amp; Talks</h1>
    <h2>2024 - The 4th Annual Advances in Cyber Security Education</h2>
<p>I attended this conference and presented <b>Authentication in the Connected World: Perceived Password Security is Inflated</b>. This was based on my masters work.</p>
<img src="{% static 'images/drew_cse.jpg' %}" alt="Drew at 4th Annual Advances in CSE" height="414" width="559"><br/>

<h2>2024 - NinjaOne London Roadshow</h2>
<p>
I was a speaker at the roadshow explaining how we use this RMM to solve problems in the business I work at.
</p>
{% endblock %}
