{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<h1>Postgraduate Education</h1>
<h2>MSc Computer Science with Cyber Security at the University of York</h2>
    <p>
        From 2021 to 2023 I studied for a MSc Computer Science with Cyber Security at the University of York. This was a part-time, online degree that I did whilst working full-time.
    </p>
	<b>Modules</b>
	 <ul style="font-size: 95%;">
	 <li>Algorithms and Data Structures</li>
	<li> Research Methods</li>
	<li>Cyber Security Threats</li>
	<li>Advanced Programming</li>
	<li>Artificial Intelligence and Machine Learning</li>
	<li>Software Engineering</li>
	<li>Secure Engineering</li>
	<li>Computer Architecture and Operating Systems</li>
	<li>Computer and Mobile Networks</li>
	<li>Research Project Proposal</li>
	<li> Independent Research Project</li></ul>
	
<h2>PhD Computer Science at Swansea University</h2>
	<p>I am currently a distance-learning, part-time student.</p>
{% endblock %}
