{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<h1>Computer Science with Cyber Security at The University of York</h1>
    <p>
        From 2021 to 2023 I studied for a MSc Computer Science with Cyber Security at the University of York. This was a part-time, online degree that I did whilst working full-time.
    </p>

    <h2>Module 1 - Algorithms and Data Structures</h2><p>
        This module was in two halves: an introduction to Java and OOP, and then theory on algorithms and data structures.
		
	<h2>Module 2 - Research Methods</h2><p>
	The second module developed my academic writing and research skills, allowing me to confidentally use reputable sources to produce argumentative writing. I was also introduced to a lot of terminology and theory regarding research methods and methodologies. This was my first acaedmic essay since GCSEs!</p>
		
	<h2>Module 3 - Cyber Security Threats</h2><p>
	After an introduction to common cyber security threats, with a focus on web and network security, I produced a risk analysis and treatment plan for a theoretical organisation.</p>
		
	<h2>Module 4 - Advanced Programming</h2><p>
	Expanding on what I learned in module 1, I was introduced to Python and a few advanced programming concepts. My assignment was to create an application (with a GUI), that would parse user-uploaded CSV files, clean and perform data analysis on them, resulting in some summary statistics and graphs for the user.</p>
		
	<h2>Module 5 - Artificial Intelligence and Machine Learning</h2><p>
	This covered various search algorithms, propositional logic, machine learning and clustering using k-means, and an introduction to neural networks. The assessment for this module was an exam.</p>
		
	<h2>Module 6 - Software Engineering</h2><p>
	I looked at the software development process and methodologies such as Agile and Waterfall, but the majority of the module was about UML Diagrams (use case, class sequence, and package) with a bit of OCL. Again, this was an exam.</p>
	
	<h2>Module 7 - Secure Engineering</h2><p>
	For this one I had to design a secure system that would allow teaching programming to remote students. I based it on my experience with VSphere and having a server running remote desktop services to allow students to have their own learning environment. Operating System security and third-party software security were also considered in my design.</p>
	
	<h2>Module 8 - Computer Architecture and Operating Systems</h2><p>
	Assessed by an exam, this module introduced me basically to how a computer actually works. This included processors, memory, non-volatile storage and file systems, and operating systems. </p>
	
	<h2>Module 9 - Computer and Mobile Networks</h2><p>
	Here I acted as a network engineer/architect and constructed a network design for a SMB and also commented on the scalability of it and security aspects of the wireless network.</p>
	
	<h2>Module 10 - Research Project Proposal</h2><p>
	Coming to the end of my journey, I produced a research project proposal for my chosen area in Cyber Security. I chose to focus on user-chosen passwords and my project would entail coding an application to generate secure passwords for users.</p>
	
	<h2>Module 11 - Independent Research Project</h2><p>
	My 16-week IRP was looking into how secure individuals passwords were compared to the NIST standards. I discovered that my participants did not adhere to security best practises, even though they were aware of them. I was able to present the findings of this research at the 4th Annual Advances in CSE Conference and am writing a paper on it to be published in an upcoming Springer Lecture Notes book.</p>
{% endblock %}
