{% extends "base_generic.html" %}

{% block content %}
{% load static %}
    <h1>Roxy and Luna</h1>
    <p>
        Roxy and Luna are my Cockapoos.<br/>
        Roxy's birthday is 18th March 2022. Roxy's age is {{ roxy_age_years }} years and {{ roxy_age_months }} months.<br/>
        Luna's is 2nd July 2022. Luna's age is {{ luna_age_years }} years and {{ luna_age_months }} months.
</p>
    <img src="{% static '/images/roxy_and_luna.jpg' %}" alt="Roxy and Luna" width="75%" height="75%"><br/>
{% endblock %}